@{
    ViewData["Title"] = "Message";
}

<div class="row">
    <div class="col-md-12 mt-5 mb-5">
        <div class="card text-center">
            <h3 class="card-title">@ViewBag.message.Users.first_name @ViewBag.message.Users.last_name</h3>
            <p class="card-text">@ViewBag.message.message</p>
            <p class="card-footer">@ViewBag.message.created_at</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Add Comment</h3>
        <form action="/ProcessComment" method="POST">
        <div class="form-group">
            <input type="hidden" name="message_id" value="@ViewBag.message.message_id">
            <textarea name="comm" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Add Comment" class="btn btn-success btn-round">
        </form>
    </div>
</div>

<div class="row">
    @foreach (var c in ViewBag.message.Comments)
    {
        <div class="col-md-10 offset-1">
            <div class="card text-center">
                <h3 class="card-title">@c.Users.first_name @c.Users.last_name</h3>
                <p class="card-text">@c.comment</p>
                <div class="card-footer">
                    <small>@c.created_at</small>
                </div>
            </div>
        </div>   
    }
</div>